.mainContainer {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.leftSection {
  flex: 1;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.leftSection:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.leftSection h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.leftSection h4 {
  margin-bottom: 15px;
  font-size: 1.75rem;
  color: #555;
  text-align: center;
}

.leftSection p {
  font-size: 1.2rem;
  color: #777;
  text-align: center;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection img {
  width: 75%;
  height: auto;
  border-radius: 100px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column-reverse; /* Stack elements vertically and put image on top */
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .leftSection {
    padding: 15px;
  }

  .leftSection h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .leftSection h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .leftSection p {
    font-size: 1rem;
  }

  .rightSection img {
    width: 60%;
    margin-top: 20px;
  }
}
