@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
  color: #fff;
  padding: 1.5rem;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
}

.logoLink {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Water Brush", serif;
  color: #fff;
  text-decoration: none;
  display: flex;
  position: relative;
}

.leftLogo .logoLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.leftLogo .logoLink:hover::after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navLinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: x-large;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.navLinks a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navLinks a:hover::after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinnerContainer p {
  margin-top: 3rem;
  color: #ffffff;
  font-size: 4rem;
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
    margin: 5px;
    position: relative;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbarRight {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightslategray;
    border-radius: 0 0 20px 20px;
    padding: 1rem;
    z-index: 1000;
  }

  .navbarRight.active {
    display: block;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    font-size: large;
  }

  .navLinks li {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .navLinks a {
    display: block;
    padding: 0.5rem 0;
  }

  .logoLink {
    font-size: 1.5rem;
  }

  .spinnerContainer p {
    font-size: 2rem;
  }
}
