.experienceContainer {
  display: flex;
  /* border: 2px solid black; */
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

.sectionHeader {
  text-align: center;
  margin: 20px 0;
}

.sectionHeader h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.sectionHeader hr {
  border: 0;
  border-top: 2px solid black;
  width: 50%;
  margin: 0 auto;
}

.work {
  /* border: 2px solid black; */
  padding: 10px;
  margin: 10px;
}

.cisaWhole,
.DAWhole,
.datafederalWhole {
  /* border: 2px solid black; */
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: ghostwhite;
  transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.cisaWhole:hover,
.DAWhole:hover,
.datafederalWhole:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.cisaContainer,
.DAContainer,
.datafederalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* border: 2px solid black; */
  padding: 10px;
  margin: 10px;
}

.cisaContainer img,
.DAContainer img {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.datafederalContainer img {
  background-color: darkgray;
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.cisaText,
.DAText,
.datafederalText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cisaText h1,
.DAText h1,
.datafederalText h1 {
  font-size: x-large;
  font-weight: bold;
}

.cisaText h3,
.DAText h3,
.datafederalText h3 {
  font-size: larger;
  font-weight: 600;
}

.cisaText h5,
.DAText h5,
.datafederalText h5 {
  font-size: medium;
  font-weight: 400;
}

.cisaResume,
.DAResume,
.datafederalResume {
  /* border: 2px solid black; */
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tools {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 50%;
  border-radius: 100px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  padding-top: 40px;
  background-color: lavender;
}

.tools h1 {
  font-size: xx-large;
  text-decoration: underline;
}

.toolIcons {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
  padding: 20px;
  gap: 50px;
}

.toolIcons img {
  height: 100px;
  width: 100px;
  transition: transform 0.3s ease-in-out;
}

.toolIcons img:hover {
  transform: scale(1.2);
}
