.main {
  /* border: 1px solid black; */
  display: flex;
  padding: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
}

#enjoy {
  text-align: center;
  font-size: 75px;
  position: relative;
  margin-bottom: 20px;
}

.down-arrow {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite ease-in-out;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8.5px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg) translateX(0.5px);
}

@keyframes jumpInfinite {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.boxOne {
  /* border: 1px solid red; */
  display: flex;
  padding: 10px;
  width: 100%;
  margin: 5px;
}

.boxTwo {
  /* border: 1px solid red; */
  display: flex;
  padding: 10px;
  width: 100%;
  margin: 5px;
}

.boxOneLeft,
.boxOneRight,
.boxTwoLeft,
.boxTwoRight {
  padding: 10px;
  margin: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.boxOneLeft:hover,
.boxOneRight:hover,
.boxTwoLeft:hover,
.boxTwoRight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.boxOneLeft img,
.boxOneRight img,
.boxTwoLeft img,
.boxTwoRight img {
  width: 60%;
  height: 90%;
  border-radius: 100px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cookingButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.cookingButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cookingButton:hover:before {
  opacity: 1;
  animation: glowing-cookingButton 20s linear infinite;
}

@keyframes glowing-cookingButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cookingButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.basketballButton {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.basketballButton:hover {
  transform: scale(1.2);
}

.drawingButton {
  width: 180px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  background-color: plum;
  border-radius: 5px;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.drawingButton svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.drawingButton span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  z-index: 1;
}

.drawingButton:hover {
  background: darkmagenta;
}

.drawingButton:hover svg {
  stroke-dashoffset: -480;
}

.drawingButton:hover span {
  color: white;
}

.muayThaiButton {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.muayThaiButton::after,
.muayThaiButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.muayThaiButton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: navy;
  border-radius: 10px;
}

.muayThaiButton::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.muayThaiButton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.muayThaiButton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.muayThaiButton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
