.mainContainer {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.leftSection {
  flex: 1;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSection h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.leftSection h4 {
  margin-bottom: 15px;
  font-size: 1.75rem;
  color: #555;
}

.leftSection p {
  font-size: 1.2rem;
  color: #777;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection img {
  width: 75%;
  height: auto;
  border-radius: 100px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
